<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="ServiceStack" version="5.5.0" targetFramework="net452" />
  <package id="ServiceStack.Client" version="5.5.0" targetFramework="net452" />
  <package id="ServiceStack.Common" version="5.5.0" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="5.5.0" targetFramework="net452" />
  <package id="ServiceStack.Text" version="5.5.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.2" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.4" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net45" />
  <package id="NUnit.Runners" version="3.9.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net45" />
</packages>